.sixth {
  color: #fff;
  text-align: center;
  padding: 2rem;
}

.truck {
  border: 0.05rem solid white;
  width: 3rem;
  cursor: pointer;
}

.modal {
    margin: auto;
    padding: 2rem;
    width: 10rem;
    height: 10rem;
    background-color: #817f7f;
    opacity: 0.8;
    position: relative;
}

.cancel {
 border-radius: 50%;
 background-color: rgb(255, 255, 255);
 color: black;
 position: absolute;
 top: 0.6rem;
 left: 0.6rem;
 padding-left: 0.3rem;
 padding-right: 0.3rem;
 cursor: pointer;
}

.list {
  position: absolute;
  bottom: 0.6rem;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 1rem;
  width: 8rem;
  margin-left: 1rem;
  cursor: pointer;
}

.pub {
  margin: auto;
  padding: 2rem;
  width: 5rem;
  height: 5rem;
  background-color: #f1bcbc;
  position: relative;
  z-index: 999;
}