.menubar {
    position: fixed;
    top: 0;
    right: -33%;
    width: 33%;
    height: 100%;
    background-color: transparent; /* 배경을 투명하게 설정 */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: right 0.3s, background-color 0.3s; /* 배경 색상 변경에 대한 트랜지션 추가 */
    z-index: 200;
}

.blur-layer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    filter: blur(5px);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);;
    z-index: 20;
}
  
.menubar.open {
    right: 0;
    background-color:rgba(255, 255, 255, 0.12); /* 메뉴바가 열릴 때 배경을 반투명한 흰색으로 변경 */
    padding: 1rem 3rem 1rem 1rem;
    z-index: 200;
}

.menu-icon-box {
    display: flex;
    position: fixed;
    width: 2.4rem;
    height: 2.4rem;
    top: 1rem;
    right: 1rem;
    font-size: 1.6rem;
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.12);
    border-radius: 6px;
    color: white;
    
    align-items: center;
    justify-content: center;
    z-index: 300;
}

.categories {
    display: none; /* 기본적으로 카테고리 목록 숨김 */
}

.categories.visible {
    display: flex; /* visible 클래스가 적용되면 카테고리 목록 표시 */
}
  
.category-list {
    list-style: none;
    width: 38rem;
    padding: 3.2rem 0 0 0;
    margin: 0;
    z-index: 200;
}
  
.category-list li {
    margin-bottom: 22px;
}

.category-list a {
    color: white; /* 링크의 색상을 검은색으로 설정 */
    text-decoration: none; /* 링크의 밑줄 제거 */
    font-size: 1rem;
}

.category-list a:hover {
    font-size: 1.1rem;
}

@media (min-width: 1020px) {
    .menu-icon-box {
        top: 1rem;
        right: 2rem;
    }
  }