.menubar {
    position: fixed;
    top: 0;
    right: -33%;
    width: 33%;
    height: 100%;
    background-color: transparent; /* 배경을 투명하게 설정 */
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: right 0.3s, background-color 0.3s; /* 배경 색상 변경에 대한 트랜지션 추가 */
}
  
.menubar.open {
    right: 0;
    color: black;
    background-color:rgba(255, 255, 255, 0.6); /* 메뉴바가 열릴 때 배경을 반투명한 흰색으로 변경 */
    padding: 40px;
}
  
.menu-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.categories {
    display: none; /* 기본적으로 카테고리 목록 숨김 */
}

.categories.visible {
    display: flex; /* visible 클래스가 적용되면 카테고리 목록 표시 */
}
  
.category-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
}
  
.category-list li {
    margin-bottom: 24px;
}

.category-list a {
    color: black; /* 링크의 색상을 검은색으로 설정 */
    text-decoration: none; /* 링크의 밑줄 제거 */
}

.category-list a:hover {
    color: blue;
}