.centered-img {
    display: flex;
    justify-content: center;
  }

.centered-date {
    position: absolute;
    margin-top: -3.2rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(255, 255, 255, 0.12);
    padding: 0.4rem 0.5rem;
    border-radius: 30px;
}

.title {
  margin-top: 2.2rem;
}

.sub-title {
  margin-top: -9.4rem;
}

.home-page {
  margin-top: 2.4rem;
}

.sub-txt {
  padding-top: 16.9rem;
  padding-right: 2%;
}

.page-list {
  list-style: none;
  width: 14rem;
  padding: 9.6rem 1rem 0 12%;
  margin: 0;
}

.page-list li {
  margin-bottom: 26px;
}

.page-list a {
  color: #E8E9EB;
  text-decoration: none; /* 링크의 밑줄 제거 */
  font-size: 1.2rem;
}

.page-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeInUp 0.5s forwards;
}

.fade-item {
  opacity: 0;
}

@media (min-width: 480px) {
  .sub-txt {
    padding-top: 16.9rem;
    padding-right: 14%;
  }

  .page-list {
    list-style: none;
    width: 14rem;
    padding: 9.6rem 1rem 0 22%;
    margin: 0;
  }
}

@media (min-width: 820px) {
  .sub-txt {
    padding-top: 16.9rem;
    padding-right: 22%;
  }

  .page-list {
    list-style: none;
    width: 14rem;
    padding: 9.6rem 1rem 0 30%;
    margin: 0;
  }
}

@media (min-width: 1020px) {
  .sub-txt {
    padding-top: 16.7rem;
    padding-right: 29%;
  }

  .page-list {
    list-style: none;
    width: 14rem;
    padding: 9.6rem 1rem 0 32%;
    margin: 0;
  }
}

/* 페이지 리스트 아래 내용 */
.centered-map {
  display: flex;
  justify-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  
  margin-top: 9.6rem;
  margin-bottom: -32rem;
}

.map-txt {
  color: white;
  font-size: 1.5rem;
  margin-bottom: -1.4rem;
}

.centered-copy {
  width: 100%;
  height: 62rem;

  display: flex;
  justify-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.about-makers {
  width: 12rem;
  height: 2.4rem;
  color: #8A61BF;
  font-size: 1.6rem;
  background-color: white;
  border-radius: 29px;
  padding: 0.1rem 0.2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.likelion-btn {
  color: white;
  font-size: 1.2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  margin: 1rem;
  margin-right: -0.14rem;

  text-decoration: none;

  cursor: pointer;
}

/* 상단 이동 버튼 */
.go-top-btn {
  display: flex;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.24);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  z-index: 500;
}

@media (min-width: 1020px) {
  .map {
    width: 40%;
  }

  .go-top-btn {
      bottom: 1rem;
      right: 2rem;
    }
}